
nav{
    display: block;
    font-size: large;
    border: 60px;
    
}
nav::shadow{
    display: grid;
}
nav:hover{
    background-color: rgb(140, 99, 135);
}
ul{
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(169, 166, 107);
}
li{
    float: left;
}
li a{
    display: block;
    color: rgb(4, 6, 6);
    font-size: 20px;
    text-align: center;
    padding: 10px 30px;
    
}
.active{
    background-color: grey;

}
li a:hover{
    background-color: rgb(180, 26, 23);
    color: rgb(2, 10, 17);
}
